<!DOCTYPE html>
<html>
    <head>
        <title>Irmin</title>
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <script src="/irmin.js"></script>

        <link rel="stylesheet" href="/static/css/index.css"></link>
    </head>
    <body>
        <div id="app">
            <h1>Irmin</h1>
            <div class="error" v-if="error">{{error}}</div>
            <div class="selected block" style="margin-bottom:25px">
                <h4>Master</h4>
                <div v-if="master.head">
                    <div>
                        <label>Hash:</label> <span class="hash">{{ master.head.hash }}</span>
                    </div>
                    <div style="max-height: 250px;">
                        <label>Parents:</label> <ul>
                            <li v-for="parent in master.head.parents" class="hash">
                                {{ parent.hash }}
                            </li>
                        </ul>
                    </div>
                </div>
                <div v-else>
                    No commits
                </div>
            </div> <!-- master -->

            <div class="items">
                <div style="text-transform:capitalize;" v-for="item in items" v-bind:class="{selected: block == item, item: true}" v-on:click="block = (block == item ? '' : item)">{{item}}</div>
            </div> <!-- items -->

            <div class="blocks">
                <div v-bind:class="{selected: block == 'get', block: true}">
                    <h4>Get</h4>
                    <div>
                        <div>
                            <input v-model="get.key" v-on:keydown.13="Get" placeholder="Key">
                        </div>
                        <textarea v-if="get.value" v-model="get.value" class="value"></textarea>
                    </div>
                </div> <!-- get -->

              <div v-bind:class="{selected: block == 'list', block: true}">
                    <h4>List</h4>
                    <div>
                        <div>
                            <input v-model="list.key" v-on:keydown.13="List" placeholder="Key">
                        </div>
                        <div v-if="list.items && list.items.length > 0">
                            <ul>
                                <li v-for="item in list.items">
                                    <pre class="key">{{item.key}}</pre>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div> <!-- list -->

                <div v-bind:class="{selected: block == 'set', block: true}">
                    <h4>Set</h4>
                    <div>
                        <div>
                            <input v-model="set.key" placeholder="Key">
                        </div>
                        <div>
                            <textarea v-model="set.value" placeholder="Shift+Enter to submit" v-on:keydown.shift.13="Set" class="value"></textarea>
                        </div>

                    </div>
                </div> <!-- set -->

               <div v-bind:class="{selected: block == 'clone', block: true}">
                    <h4>Clone</h4>
                    <div>
                        <div>
                            <input v-model="clone.uri" v-on:keydown.13="Clone" placeholder="Remote URI">
                        </div>
                    </div>
                </div> <!-- clone -->


               <div v-bind:class="{selected: block == 'push', block: true}">
                    <h4>Push</h4>
                    <div>
                        <div>
                            <input v-model="push.uri" v-on:keydown.13="Push" placeholder="Remote URI">
                        </div>
                    </div>
                </div> <!-- push -->

               <div v-bind:class="{selected: block == 'pull', block: true}">
                    <h4>Pull</h4>
                    <div>
                        <div>
                            <input v-model="pull.uri" v-on:keydown.13="Pull" placeholder="Remote URI">
                        </div>
                    </div>
                </div> <!-- pull -->

               <div v-bind:class="{selected: block == 'revert', block: true}">
                    <h4>Revert</h4>
                    <div>
                        <div>
                            <input v-model="revert.hash" v-on:keydown.13="Revert" placeholder="Commit hash">
                        </div>
                    </div>
                </div> <!-- revert -->

            </div> <!-- blocks -->

        </div> <!-- #app -->
        <script src="/static/js/index.js"></script>
    </body>
</html>
