body {
    font-family: sans;
}

#app {
    width: 95%;
    margin: auto;
    text-align: center;
}

.block h4 {
    color: white;
    background: black;
    border-bottom: 1px solid black;
    margin-top: 0px;
    padding: 5px;
}

.hash {
    font-family: monospace;
}

.blocks {
    margin-left: 200px;
}

.block {
    text-align: left;
    border: 1px solid black;
    display: none;
    max-height: 650px;
    overflow: auto;
    vertical-align: top;
    width: 100%;
    margin: auto;
}

.block div {
    padding: 5px;
}

input {
    width: 95%;
    margin: auto;
    display: block;
}

.value {
    width: 95%;
    margin: auto;
    display: block;
    height: 250px;
}

.selected.block {
    display: block;
}

.selected.item {
    color: blue;
}

.items {
    text-align: left;
    width: 150px;
    float: left;
}

.item {
    font-size: 24px;
    cursor: pointer;
    display: block;
}

.item:hover {
    text-decoration: underline;
}

.error {
    position: fixed;
    padding: 5px;
    background: red;
    color: white;
    bottom: 0px;
    left: 0px;
    right: 0px;
}

pre.key {
    border: 1px solid #ddd;
    padding: 1px;
    display: inline-block;
    margin: 0px;
}
